.container {
  width: 5888px;
  height: 825px;
  background-color: hsl(60, 31%, 35%);
  padding-left: 120px;
}
#height,
#weight {
  width: 150px;
  height:25px;
  margin-top: 35px;
}


#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}
#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(247, 255, 1);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #f0f0f0;
  border-radius: 999px;
  color: #0e4fd1;
  text-decoration:wavy ;
  border: 2px solid #212121;

  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;  
}